*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header.header{
    height: 12.5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
header h1{
    font-size: 7rem;
}
.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2rem;
}
#display{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(5, auto);

}
#display > *{
    padding: .8rem;
    border-bottom: 1px solid black;
}